/*Titulo*/
h1{
    font-weight: bold;/*Hacer más "negrilla" el texto*/
    text-align: center;
}

/*Imagen del centro*/
body{
    height: 666px;
    background-image: url("https://images.ecestaticos.com/kZjNrDAZ0f6L5m8p91rS89Twpp0=/0x0:0x0/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fdc9%2F277%2Fac6%2Fdc9277ac614782dac6b8b32eca7417d0.jpg");
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: cover;
}

/*Submenu desplegable*/
#menu{
    text-align: center;
    float: right;
    margin: auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol{
    list-style: none;
}

.nave li a{
    background-color: gray;
    opacity: 0.6;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.nave li a:hover{
    background-color: tan;
}

.nave > li{
    float: left;
}

.nave li ul{
    display: none;
    right: 0px;
    position: absolute;
    min-width: 150px;
}

.nave li:hover > ul{
    display: block;
}

.nave li ul li{
    position: relative;
}

.nave li ul li ul{
    right: 140px;
    top: 0px;
}