*{
    margin: 0;
    padding: 0;
}

body{
    
    background-color: white;
    font-family: sans-serif;
    height: 100vh;
 
}

.container a{
 
    text-decoration: none;
    color: rgb(89, 97, 211);
}

.container{

    width: 390px;
    height: 410px;
    top: 48%;
    left: 50%;
    background: white;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 22px 40px;
    border-radius: 2px;
    border: 1px solid black;
    box-shadow: 0 65px rgb(141, 241, 101) inset;
}
.fort{
    color:black;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
  
}
.container label{
    margin: 0;
    padding: 0;
    display: block;
    margin-bottom: 3px;
}
.container input{
    width: 100%;
    padding: 3px;
    margin-bottom: 25px;
    border: 1px solid rgba(223, 222, 222, 0.979);
   
}
.container input[type="usuario"]{

    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.container input[type="password"]{

    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}


.container input[type="submit"]{

    border: none;
    background:  rgb(41, 41, 48);
    outline: none;
    height: 40px;
    font-size: 18px;
    color:white;
    border-radius: 5px;
    text-align: center;

}
.container input[type="submit"]:hover{
      
    background-color: rgb(15, 15, 17);
    border: 2px solid rgb(18, 18, 20);
    cursor: pointer;

}
.container input:focus{
    border: 1.3px solid rgb(37, 204, 226);
    
   
 }
 @media (max-width:768px){
    .container{
         width: 70%;
       
     }


}


@media (max-width:488px){
    .container{
         width: 90%;
     }

}