.home__banner{
    background-image: url("img/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.boton{
    float: left;
    margin-left: -13%;
    background: orange;
    cursor: pointer;
    margin-top: 200px;
    text-decoration: none;
    text-align: center;
    width: 150px;
    line-height: 50px;
    color: white;
    font-size: 18px;
}