.home__banner{
    background-image: url("img/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.boton{
    float: left;
    margin-left: -13%;
    background: orange;
    cursor: pointer;
    margin-top: 200px;
    text-decoration: none;
    text-align: center;
    width: 150px;
    line-height: 50px;
    color: white;
    font-size: 18px;
}
/*Titulo*/
.home__content__title{
    text-align: center;
}
/*Clusters*/
.home__content__clusters{
    display: flex;
    flex-wrap: wrap;
}

.home__content__clusters div{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 30%;
    background-color: lightgray;
    height: 250px;
    align-items: center;
    margin: 1%;
}

.home__content__clusters div a{
    color: black;
    text-decoration: none;
}

.home__content__clusters div img{
    width: 20%;
    height: 20%;
}

.imagen1{
    background-image: url(img/PEPINO.jpg);
}
